{% extends 'base.html' %}

{% block container %}

  <h1 class="display-5 mt-4">Летим {{ departures[direction] }}</h1>

  {% set min_price_tour = tours_from_direction.values()|min(attribute='price') %}
  {% set max_price_tour = tours_from_direction.values()|max(attribute='price') %}
  {% set min_nights_tour = tours_from_direction.values()|min(attribute='nights') %}
  {% set max_nights_tour = tours_from_direction.values()|max(attribute='nights') %}
  <p class="mb-4">Найдено {{ tours_from_direction.values()|length }} туров, от {{ min_price_tour.price }} до {{ max_price_tour.price }} и от {{ min_nights_tour.nights }} ночей до {{ max_nights_tour.nights }} ночей</p>

  <!-- CARDS -->

  <div class="row mt-5">

  {% for tour_id, tour in tours_from_direction.items() %}
      <div class="col-4">
          <div class="card mb-3" >
          <img src="{{ tour.picture }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{ tour.title }}</h5>
           <p class="card-text">{{ tour.description|truncate(100) }}</p>
              <a href="/tours/{{ tour_id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
      </div>
      </div>
  {% endfor %}

  </div>

{% endblock %}