{% extends 'base.html' %}

{% block container %}

  <h1 class="display-5 mt-4">Летим {{ departures[direction] }}</h1>

  <p class="mb-4">Найдено {{ tours|length }} туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>


  <!-- CARDS -->

  <div class="row mt-5">

  {% for k, tour in tours.items() %}
      {% if tour.departure == direction %}
      <div class="col-4">
          <div class="card mb-3" >
          <img src="{{ tour.picture }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{ tour.title }}</h5>
           <p class="card-text">{{ tour.description|truncate(100) }}</p>
              <a href="/tours/{{ k }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
      </div>
      </div>
      {% endif %}
  {% endfor %}

  </div>

{% endblock %}
